<h1 align="center">All Alpha Bloggers</h1>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "d-flex justify-content-center") %>
<% @users.each do |user| %>
  <ul class="list-unstyled text-center mt-3">
    <div class="row justify-content-center">
      <div class="card col-md-4 bg-light py-3">
        <li class="mb-2"><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-title">
          <%= link_to user.username, user_path(user) %>
        </li>
        <li>
          <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li>
            <%= link_to 'Delete this user', user_path(user), method: :delete, data: {confirm: "Are you sure want to delete this user and all their articles?"}, class: "btn btn-xs btn-danger" %>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
<% end %>
<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "mt-4 d-flex justify-content-center") %>